*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

html{
    scroll-behavior: smooth;
}

p,
h1,
img,
h3,
a{
    background-color: transparent;
}

/*კონტეინერის სიგანე 1252.58px - საიტის სიგანე 1440*/

/*ჰედერი*/

.containerGN{
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
}

.header-flexGN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 47px;
}

.nav-link-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-decoration: none;
}

.nav-link-GN:hover{
    color: #4CE0D7;
}

.navigationGN{
    display: flex;
    gap: 60px;
}

.contuctUSGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-decoration: none;
    background: #4CE0D7;
    border-radius: 40px;
    padding: 9px 32px;
}

/*პირველი სექცია*/

.First-section-TotalGN{
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
    margin-bottom: 58px;
}

.first-sectionGN{
    background-image: url(Assets/Images/FirstSectionImageGN.png);
    height: 559px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.first-section-contentGN{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 100%;
    gap: 22px;
}

.P1-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.23em;
    color: #FFFFFF;
}

.main-headingGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 69px;
    color: #FFFFFF;
}

.main-headingGN span{
    background: -webkit-linear-gradient(#4CE0D7 30%, #8BA9F4 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.P2-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.P3-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.first-sectionGN{
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
}


/*პირველი სექციის დასასრული*/

/*მეორე სექცია ტოპიკები*/

.second-headingGN{
    margin-bottom: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #262626;
}

.Topics-cardGN{
    width: 204px;
    height: 291px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: relative;
}

.Topics-cardGN-Content{
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ButtonGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #262626;
    text-decoration: none;
    background: #4CE0D7;
    border-radius: 40px;
    padding: 10px;
}

.ButtonGN:hover,
.contuctUSGN:hover{
    background: #8BA9F4;
    color: #FFFFFF;
}

.Topics-H-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #262626;
}

.Topics-galleryGN{
    display: flex;
    flex-direction: wrap;
    gap: 10px;
}

.TopicsGN{
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
    margin-bottom: 87.5px;
}

/*მეორე სექციის დასასრული*/


.latest-trends-mc{
    margin: 0 118px 0 118px;
    max-width: 1252px;
    
}

.line-mc{
    border-top: 1px solid#BCBCBC;
    max-width: 1267px;
    margin: 0 80px 52px 80px;
 
}

.latest-card-mc{
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background: #FFFFFF;
    height: 698px;
    width: 1204px;
    border-radius: 20px;
    
    
}


.card-button-mc{
    padding: 10px  81.80px 10px 81px ;
    background-color: #262626;
    width: 233px;
    border-radius: 40px;
    position: absolute;
    left: 47px;
    top: 23px;
}

.button-mc{
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color:#262626  ;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-family: 'poppins',sans-serif;
    margin-left: 5px;
}

.card-content-mc{
    background-color: #FFFFFF;
    margin: 17px 62px 0 64px;
    display: flex;
    align-items: center;
    gap: 19px;
    
   
}

.card-title-mc{
    background-color: #FFFFFF;

}

.card-title-mc{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BCBCBC;
    width: 167px;
    font-family: 'poppins',sans-serif;
}


.title-container-mc{
    display: flex;
    gap: 55px;
    background-color: #FFFFFF;
    
}

.coming-in-hot-mc a{
    width: 216px;
    margin-left: 388px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #F25E5E;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}

.coming-in-hot-mc{
    background-color: #ffffff;
}

.card-content-mc img{
    background-color: #ffffff;
    
}

.card-content2-mc{
    margin-top: 15px;
    background-color: #FFFFFF;
    margin: 20px 62px;
}

.card-content2-mc h2{
    background-color: #FFFFFF;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 23px;
}

.card-content2-mc p{
    background-color: #FFFFFF;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;
}

.card-content2-mc img{
    background-color: #FFFFFF;
    width: 21px;
    height: 13px;
    
}

.link-mc {
    color: #4CE0D7;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    font-family: 'poppins',sans-serif;
    background-color: #FFFFFF;

}

.read-more-mc{
    display: flex;
    gap: 15px;
    background-color: #FFFFFF;
}