*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F9F9;
}

html{
    scroll-behavior: smooth;
}

p,
h1,
img,
h3,
a{
    background-color: transparent;
}

/*კონტეინერის სიგანე 1252.58px - საიტის სიგანე 1440*/

/*ჰედერი*/

.containerGN{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 84px;
}

.header-flexGN{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 47px;
}

.nav-link-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-decoration: none;
}

.nav-link-GN:hover{
    color: #4CE0D7;
}

.navigationGN{
    display: flex;
    gap: 60px;
}

.contuctUSGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-decoration: none;
    background: #4CE0D7;
    border-radius: 40px;
    padding: 9px 32px;
}

/*პირველი სექცია*/

.First-section-TotalGN{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 84px;
    margin-bottom: 58px;
}

.first-sectionGN{
    background-image: url(Assets/Images/FirstSectionImageGN.png);
    height: 559px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.first-section-contentGN{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 100%;
    gap: 22px;
}

.P1-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.23em;
    color: #FFFFFF;
}

.main-headingGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 69px;
    color: #FFFFFF;
}

.main-headingGN span{
    background: -webkit-linear-gradient(left,#4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.P2-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.P3-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.first-sectionGN{
    max-width: 1272px;
    margin: 0 auto;
    padding: 0 84px;
}


/*პირველი სექციის დასასრული*/

/*მეორე სექცია ტოპიკები*/

.second-headingGN{
    margin-bottom: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #262626;
}

.Topics-cardGN{
    width: 204px;
    height: 291px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position: relative;
}

.Topics-cardGN-Content{
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ButtonGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #262626;
    text-decoration: none;
    background: #4CE0D7;
    border-radius: 40px;
    padding: 10px;
}

.ButtonGN:hover,
.contuctUSGN:hover{
    background: #8BA9F4;
    color: #FFFFFF;
}

.Topics-H-GN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #262626;
}

.Topics-galleryGN{
    display: flex;
    flex-direction: wrap;
    gap: 10px;
}

.TopicsGN{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 84px;
    margin-bottom: 87.5px;
}

/*მეორე სექციის დასასრული*/

.third-section-mc{
    max-width: 1272px;
    margin: 0 auto;
}

.latest-container-mc{
    margin: 0 auto;
    max-width: 1252px;
    
}

.line-mc{
    border-top: 1px solid#BCBCBC;
    max-width: 1267px;
    margin: 0 0 52px 0;
 
}

.latest-card-mc{
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background: #FFFFFF;
    height: 698px;
    width: 1204px;
    border-radius: 20px;
    margin: 0 auto;
    
}


.card-button-mc{
    padding: 10px  81.80px 10px 81px ;
    background-color: #262626;
    width: 233px;
    border-radius: 40px;
    position: absolute;
    left: 47px;
    top: 23px;
}

.button-mc{
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    background-color:#262626  ;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    font-family: 'poppins',sans-serif;
    margin-left: 5px;
}

.card-content-mc{
    background-color: #FFFFFF;
    margin: 17px 62px 0 64px;
    display: flex;
    align-items: center;
    gap: 19px;
    
   
}

.card-title-mc{
    background-color: #FFFFFF;

}

.card-title-mc{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BCBCBC;
    width: 167px;
    font-family: 'poppins',sans-serif;
}


.title-container-mc{
    display: flex;
    gap: 55px;
    background-color: #FFFFFF;
    
}

.coming-in-hot-mc a{
    width: 216px;
    margin-left: 388px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #F25E5E;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}

.coming-in-hot-mc{
    background-color: #ffffff;
}

.card-content-mc img{
    background-color: #ffffff;
    
}

.card-content2-mc{
    margin-top: 15px;
    background-color: #FFFFFF;
    margin: 20px 62px;
}

.card-content2-mc h2{
    background-color: #FFFFFF;
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 23px;
}

.card-content2-mc p{
    background-color: #FFFFFF;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;
}

.card-content2-mc img{
    background-color: #FFFFFF;
    width: 21px;
    height: 13px;
    
}

.link-mc {
    color: #4CE0D7;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    font-family: 'poppins',sans-serif;
    background-color: #FFFFFF;

}

.read-more-mc{
    display: flex;
    gap: 15px;
    background-color: #FFFFFF;
}


/*ეს დავამატე კოდს რომ დამეშორებინა*/

.third-section-mc{
    margin-bottom: 97px;
}


/*ფუტერი*/

.Footer-top-sideGN{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 84px 84px;
    border-bottom: 1px solid #BCBCBC;
    background-color: #FFFFFF;
    border-radius: 40px 40px 0 0;
}

.Footer-Content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: transparent;
}

.FooterPGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #262626;
}

.Footer-nav-GN{
    gap: 21px;
    background-color: transparent;
}

footer{
    margin-bottom: 40px;
    max-width: 1440px;
    margin: 0 auto;
    
}

.Footer-bottom-sideGN{
    max-width: 1440px;
    margin: 0 auto;
    padding: 34px 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    background-color: #FFFFFF;
}

.fourth-section-mc{
    max-width: 1272px;
    margin: 0 auto;
}

.tranding-container-mc{
    max-width: 1252px;
    margin: 0 auto;
    
    
    
}

.tranding-mc h2{
    font-family: 'poppins',sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #262626;
    margin-bottom: 55px;
    padding: 0 35px;
}

.tranding-card-mc{
    background-color: #FFFFFF;
    width: 579px;
    height: 670px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 88px;
   
    

}


    
.tranding-card-button-mc{
    font-family: 'poppins',sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 175px;
    border-radius: 40px;
    background-color: #262626;
    padding: 9px 49px;
    position: absolute;
    top: 20px;
    left: 34px;
    
    
}

 

.tranding-list-mc{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 60px;
}

.tranding-card2-mc{
    background-color: #FFFFFF;
    width: 565px;
    height: 670px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 88px;

}


.fashionGN-card{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background: transparent;
    margin-bottom: 58px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
    max-height: 335.76px;
}

.fashionGN-Content-Header{
    display: flex;
    flex-direction: row;
    background: transparent;
    margin-bottom: 11px;
}

.fashionGN{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 118px;
    display: flex;
    flex-direction: column;
}

.FashionImageGN{
    border-radius: 20px;
    max-width: 500px;
}

.Button-FashionGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #262626;
    border-radius: 40px;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
    padding: 9px 50px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.Button-FashionGN:hover{
    background-color: #8BA9F4;
}

.Fashion-Image-GN{
    position: relative;
}

.fashionGN-Content-Header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BCBCBC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.FashionGN-Content-Header-Name{
    margin-right: 134px;
}

.fashionGN-Content-Text-Heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #262626;
}

.fashionGN-Content-Text-info{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.fashionGN-Content{
    margin-left: 20px;
    margin-right: 42px;
}

.fashionGN-Content-Text{
    margin-bottom: 29px;
    max-width: 569px;
}

.ArrowLinkGN{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #4CE0D7;
    text-decoration: none;
}

.ArrowGN{
    height: 13px;
    width: 21.67px;
}

.fashionGN-Content-Button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.fashionGN-Content,
.fashionGN-Content-Text,
.Fashion-Image-GN,
.fashionGN-Content-Button,
.fashionGN-Content-Header-full,
.fashionGN-Content-Header,
.FashionGN-Content-Header-Name,
.fashionGN-Content-Text-Heading{
    background: transparent;
}
